system-controls/test/webservice/junit/wsdl/settings/TaskGeneratorTest.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://foo" xmlns:apachesoap="http://xml.apache.org/xml-soap"
                  xmlns:impl="http://foo" xmlns:intf="http://foo"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <wsdl:types>
        <schema elementFormDefault="qualified" targetNamespace="http://foo"
                xmlns="http://www.w3.org/2001/XMLSchema">
            <element name="echoString">
                <complexType>
                    <sequence>
                        <element name="inputString" type="xsd:string"/>
                    </sequence>
                </complexType>
            </element>
            <element name="echoString2">
                <complexType>
                    <sequence>
                        <element name="inputString" type="xsd:string"/>
                    </sequence>
                </complexType>
            </element>
            <element name="echoStringResponse">
                <complexType>
                    <sequence>
                        <element name="return" type="xsd:string"/>
                    </sequence>
                </complexType>
            </element>
            <element name="echoString2Response">
                <complexType>
                    <sequence>
                        <element name="return" type="xsd:string"/>
                    </sequence>
                </complexType>
            </element>
        </schema>
    </wsdl:types>

    <wsdl:message name="echoStringRequest">
        <wsdl:part element="impl:echoString" name="parameters"/>
    </wsdl:message>

    <wsdl:message name="echoString2Request">
        <wsdl:part element="impl:echoString2" name="parameters"/>
    </wsdl:message>

    <wsdl:portType name="TestService1">
        <wsdl:operation name="echoString">
            <wsdl:input message="impl:echoStringRequest" name="echoStringRequest"/>
            <wsdl:output message="impl:echoStringResponse" name="echoStringResponse"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:portType name="TestService2">
        <wsdl:operation name="echoString2">
            <wsdl:input message="impl:echoString2Request" name="echoString2Request"/>
            <wsdl:output message="impl:echoString2Response" name="echoString2Response"/>
        </wsdl:operation>
    </wsdl:portType>


    <!-- Define 2 bindings -->
    <wsdl:binding name="TestSoapBinding1" type="impl:TestService1">
        <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="echoString">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input name="echoStringRequest">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="echoStringResponse">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:binding name="TestSoapBinding2" type="impl:TestService2">
        <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="echoString2">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input name="echoString2Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="echoString2Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <!-- Define two services for this wsdl -->
    <wsdl:service name="TestService1">
        <wsdl:port binding="impl:TestSoapBinding1" name="TestService1">
            <wsdlsoap:address location="http://foo.jws"/>
        </wsdl:port>
        <wsdl:port binding="impl:TestSoapBinding2" name="TestService1">
            <wsdlsoap:address location="http://foo22.jws"/>
        </wsdl:port>
    </wsdl:service>

    <wsdl:service name="TestService2">
        <wsdl:port binding="impl:TestSoapBinding2" name="TestService2">
            <wsdlsoap:address location="http://foo2.jws"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
