system-controls/test/webservice/webapp/wsdl/schematypes/DataHandlerDocLitWrapped.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://datahandler.attachments" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://datahandler.attachments" xmlns:intf="http://datahandler.attachments" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.3
Built on Oct 05, 2005 (05:23:37 EDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://datahandler.attachments" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://xml.apache.org/xml-soap"/>
   <element name="getPlainText">
    <complexType/>
   </element>
   <element name="getPlainTextResponse">
    <complexType>
     <sequence>
      <element name="return" type="apachesoap:DataHandler"/>
     </sequence>
    </complexType>
   </element>
   <element name="echoPlainText">
    <complexType>
     <sequence>
      <element name="pt" type="apachesoap:DataHandler"/>
     </sequence>
    </complexType>
   </element>
   <element name="echoPlainTextResponse">
    <complexType>
     <sequence>
      <element name="return" type="apachesoap:DataHandler"/>
     </sequence>
    </complexType>
   </element>
   <element name="getXmlText">
    <complexType/>
   </element>
   <element name="getXmlTextResponse">
    <complexType>
     <sequence>
      <element name="return" type="apachesoap:DataHandler"/>
     </sequence>
    </complexType>
   </element>
   <element name="getJpgImage">
    <complexType/>
   </element>
   <element name="getJpgImageResponse">
    <complexType>
     <sequence>
      <element name="return" type="apachesoap:DataHandler"/>
     </sequence>
    </complexType>
   </element>
   <element name="getGifImage">
    <complexType/>
   </element>
   <element name="getGifImageResponse">
    <complexType>
     <sequence>
      <element name="return" type="apachesoap:DataHandler"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="echoPlainTextRequest">

      <wsdl:part element="impl:echoPlainText" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getPlainTextRequest">

      <wsdl:part element="impl:getPlainText" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getPlainTextResponse">

      <wsdl:part element="impl:getPlainTextResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getGifImageResponse">

      <wsdl:part element="impl:getGifImageResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getJpgImageRequest">

      <wsdl:part element="impl:getJpgImage" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getXmlTextRequest">

      <wsdl:part element="impl:getXmlText" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getJpgImageResponse">

      <wsdl:part element="impl:getJpgImageResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getXmlTextResponse">

      <wsdl:part element="impl:getXmlTextResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="echoPlainTextResponse">

      <wsdl:part element="impl:echoPlainTextResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getGifImageRequest">

      <wsdl:part element="impl:getGifImage" name="parameters"/>

   </wsdl:message>

   <wsdl:portType name="DataHandlerDocLitWrapped">

      <wsdl:operation name="getPlainText">

         <wsdl:input message="impl:getPlainTextRequest" name="getPlainTextRequest"/>

         <wsdl:output message="impl:getPlainTextResponse" name="getPlainTextResponse"/>

      </wsdl:operation>

      <wsdl:operation name="echoPlainText">

         <wsdl:input message="impl:echoPlainTextRequest" name="echoPlainTextRequest"/>

         <wsdl:output message="impl:echoPlainTextResponse" name="echoPlainTextResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getXmlText">

         <wsdl:input message="impl:getXmlTextRequest" name="getXmlTextRequest"/>

         <wsdl:output message="impl:getXmlTextResponse" name="getXmlTextResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getJpgImage">

         <wsdl:input message="impl:getJpgImageRequest" name="getJpgImageRequest"/>

         <wsdl:output message="impl:getJpgImageResponse" name="getJpgImageResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getGifImage">

         <wsdl:input message="impl:getGifImageRequest" name="getGifImageRequest"/>

         <wsdl:output message="impl:getGifImageResponse" name="getGifImageResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="DataHandlerDocLitWrappedSoapBinding" type="impl:DataHandlerDocLitWrapped">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getPlainText">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getPlainTextRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getPlainTextResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="echoPlainText">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="echoPlainTextRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="echoPlainTextResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getXmlText">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getXmlTextRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getXmlTextResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getJpgImage">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getJpgImageRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getJpgImageResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getGifImage">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getGifImageRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getGifImageResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="DataHandlerDocLitWrappedService">

      <wsdl:port binding="impl:DataHandlerDocLitWrappedSoapBinding" name="DataHandlerDocLitWrapped">

         <wsdlsoap:address location="http://localhost:8080/ServiceControlDRT/attachments/datahandler/DataHandlerDocLitWrapped.jws"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
