system-controls/test/webservice/webapp/wsdl/schematypes/HeaderRpcEncEndpoint.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://header" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://header" xmlns:intf="http://header" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.3
Built on Oct 05, 2005 (05:23:37 EDT)-->

   <wsdl:message name="swapHeaderStringsRequest">

      <wsdl:part name="header1" type="soapenc:string"/>

      <wsdl:part name="header2" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="echointHeaderRequest">

      <wsdl:part name="inputHeader" type="xsd:int"/>

      <wsdl:part name="inputint" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="setHeaderStringsResponse">

      <wsdl:part name="header1" type="soapenc:string"/>

      <wsdl:part name="header2" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="echoReturnStringHeaderRequest">

      <wsdl:part name="inputHeader" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="echointHeaderResponse">

      <wsdl:part name="inputHeader" type="xsd:int"/>

      <wsdl:part name="return" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="echoStringHeaderAndResultResponse">

      <wsdl:part name="inputHeader" type="soapenc:string"/>

      <wsdl:part name="return" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="modifyStringHeaderRequest">

      <wsdl:part name="inputHeader" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="echoReturnStringHeaderResponse">

      <wsdl:part name="return" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="setHeaderStringsRequest">

      <wsdl:part name="setValue" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="swapHeaderStringsResponse">

      <wsdl:part name="header1" type="soapenc:string"/>

      <wsdl:part name="header2" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="echoStringHeaderAndResultRequest">

      <wsdl:part name="inputHeader" type="soapenc:string"/>

      <wsdl:part name="inputString" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="modifyStringHeaderResponse">

      <wsdl:part name="inputHeader" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:portType name="HeaderRpcEncEndpoint">

      <wsdl:operation name="echoReturnStringHeader" parameterOrder="inputHeader">

         <wsdl:input message="impl:echoReturnStringHeaderRequest" name="echoReturnStringHeaderRequest"/>

         <wsdl:output message="impl:echoReturnStringHeaderResponse" name="echoReturnStringHeaderResponse"/>

      </wsdl:operation>

      <wsdl:operation name="modifyStringHeader" parameterOrder="inputHeader">

         <wsdl:input message="impl:modifyStringHeaderRequest" name="modifyStringHeaderRequest"/>

         <wsdl:output message="impl:modifyStringHeaderResponse" name="modifyStringHeaderResponse"/>

      </wsdl:operation>

      <wsdl:operation name="echoStringHeaderAndResult" parameterOrder="inputHeader inputString">

         <wsdl:input message="impl:echoStringHeaderAndResultRequest" name="echoStringHeaderAndResultRequest"/>

         <wsdl:output message="impl:echoStringHeaderAndResultResponse" name="echoStringHeaderAndResultResponse"/>

      </wsdl:operation>

      <wsdl:operation name="swapHeaderStrings" parameterOrder="header1 header2">

         <wsdl:input message="impl:swapHeaderStringsRequest" name="swapHeaderStringsRequest"/>

         <wsdl:output message="impl:swapHeaderStringsResponse" name="swapHeaderStringsResponse"/>

      </wsdl:operation>

      <wsdl:operation name="setHeaderStrings" parameterOrder="header1 header2 setValue">

         <wsdl:input message="impl:setHeaderStringsRequest" name="setHeaderStringsRequest"/>

         <wsdl:output message="impl:setHeaderStringsResponse" name="setHeaderStringsResponse"/>

      </wsdl:operation>

      <wsdl:operation name="echointHeader" parameterOrder="inputHeader inputint">

         <wsdl:input message="impl:echointHeaderRequest" name="echointHeaderRequest"/>

         <wsdl:output message="impl:echointHeaderResponse" name="echointHeaderResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="HeaderRpcEncEndpointSoapBinding" type="impl:HeaderRpcEncEndpoint">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="echoReturnStringHeader">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="echoReturnStringHeaderRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://header" parts="" use="encoded"/>

            <wsdlsoap:header encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" message="impl:echoReturnStringHeaderRequest" namespace="http://header" part="inputHeader" use="encoded">

            </wsdlsoap:header>

         </wsdl:input>

         <wsdl:output name="echoReturnStringHeaderResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://header" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="modifyStringHeader">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="modifyStringHeaderRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://header" parts="" use="encoded"/>

            <wsdlsoap:header encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" message="impl:modifyStringHeaderRequest" namespace="http://header" part="inputHeader" use="encoded">

            </wsdlsoap:header>

         </wsdl:input>

         <wsdl:output name="modifyStringHeaderResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://header" parts="null" use="encoded"/>

            <wsdlsoap:header encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" message="impl:modifyStringHeaderResponse" namespace="http://header" part="inputHeader" use="encoded">

            </wsdlsoap:header>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="echoStringHeaderAndResult">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="echoStringHeaderAndResultRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://header" parts="inputString" use="encoded"/>

            <wsdlsoap:header encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" message="impl:echoStringHeaderAndResultRequest" namespace="http://header" part="inputHeader" use="encoded">

            </wsdlsoap:header>

         </wsdl:input>

         <wsdl:output name="echoStringHeaderAndResultResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://header" parts="return" use="encoded"/>

            <wsdlsoap:header encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" message="impl:echoStringHeaderAndResultResponse" namespace="http://header" part="inputHeader" use="encoded">

            </wsdlsoap:header>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="swapHeaderStrings">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="swapHeaderStringsRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://header" parts="" use="encoded"/>

            <wsdlsoap:header encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" message="impl:swapHeaderStringsRequest" namespace="http://header" part="header1" use="encoded">

            </wsdlsoap:header>

            <wsdlsoap:header encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" message="impl:swapHeaderStringsRequest" namespace="http://header" part="header2" use="encoded">

            </wsdlsoap:header>

         </wsdl:input>

         <wsdl:output name="swapHeaderStringsResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://header" parts="null" use="encoded"/>

            <wsdlsoap:header encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" message="impl:swapHeaderStringsResponse" namespace="http://header" part="header1" use="encoded">

            </wsdlsoap:header>

            <wsdlsoap:header encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" message="impl:swapHeaderStringsResponse" namespace="http://header" part="header2" use="encoded">

            </wsdlsoap:header>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="setHeaderStrings">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="setHeaderStringsRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://header" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="setHeaderStringsResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://header" parts="null" use="encoded"/>

            <wsdlsoap:header encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" message="impl:setHeaderStringsResponse" namespace="http://header" part="header1" use="encoded">

            </wsdlsoap:header>

            <wsdlsoap:header encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" message="impl:setHeaderStringsResponse" namespace="http://header" part="header2" use="encoded">

            </wsdlsoap:header>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="echointHeader">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="echointHeaderRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://header" parts="inputint" use="encoded"/>

            <wsdlsoap:header encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" message="impl:echointHeaderRequest" namespace="http://header" part="inputHeader" use="encoded">

            </wsdlsoap:header>

         </wsdl:input>

         <wsdl:output name="echointHeaderResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://header" parts="return" use="encoded"/>

            <wsdlsoap:header encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" message="impl:echointHeaderResponse" namespace="http://header" part="inputHeader" use="encoded">

            </wsdlsoap:header>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="HeaderRpcEncEndpointService">

      <wsdl:port binding="impl:HeaderRpcEncEndpointSoapBinding" name="HeaderRpcEncEndpoint">

         <wsdlsoap:address location="http://localhost:8080/ServiceControlDRT/header/HeaderRpcEncEndpoint.jws"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
