system-controls/test/webservice/webapp/wsdl/schematypes/ImagesRpcLit.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://images.attachments" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://images.attachments" xmlns:intf="http://images.attachments" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.3
Built on Oct 05, 2005 (05:23:37 EDT)-->
 <wsdl:types>
  <schema targetNamespace="http://images.attachments" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://xml.apache.org/xml-soap"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="ArrayOf_apachesoap_Image">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="apachesoap:Image"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="getImagesResponse">

      <wsdl:part name="return" type="impl:ArrayOf_apachesoap_Image"/>

   </wsdl:message>

   <wsdl:message name="getGifImageResponse">

      <wsdl:part name="return" type="apachesoap:Image"/>

   </wsdl:message>

   <wsdl:message name="getJpgImageResponse">

      <wsdl:part name="return" type="apachesoap:Image"/>

   </wsdl:message>

   <wsdl:message name="getGifImageRequest">

   </wsdl:message>

   <wsdl:message name="getJpgImageRequest">

   </wsdl:message>

   <wsdl:message name="getImagesRequest">

   </wsdl:message>

   <wsdl:portType name="ImagesRpcLit">

      <wsdl:operation name="getJpgImage">

         <wsdl:input message="impl:getJpgImageRequest" name="getJpgImageRequest"/>

         <wsdl:output message="impl:getJpgImageResponse" name="getJpgImageResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getGifImage">

         <wsdl:input message="impl:getGifImageRequest" name="getGifImageRequest"/>

         <wsdl:output message="impl:getGifImageResponse" name="getGifImageResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getImages">

         <wsdl:input message="impl:getImagesRequest" name="getImagesRequest"/>

         <wsdl:output message="impl:getImagesResponse" name="getImagesResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ImagesRpcLitSoapBinding" type="impl:ImagesRpcLit">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getJpgImage">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getJpgImageRequest">

            <wsdlsoap:body namespace="http://images.attachments" use="literal"/>

         </wsdl:input>

         <wsdl:output name="getJpgImageResponse">

            <wsdlsoap:body namespace="http://images.attachments" use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getGifImage">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getGifImageRequest">

            <wsdlsoap:body namespace="http://images.attachments" use="literal"/>

         </wsdl:input>

         <wsdl:output name="getGifImageResponse">

            <wsdlsoap:body namespace="http://images.attachments" use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getImages">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getImagesRequest">

            <wsdlsoap:body namespace="http://images.attachments" use="literal"/>

         </wsdl:input>

         <wsdl:output name="getImagesResponse">

            <wsdlsoap:body namespace="http://images.attachments" use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ImagesRpcLitService">

      <wsdl:port binding="impl:ImagesRpcLitSoapBinding" name="ImagesRpcLit">

         <wsdlsoap:address location="http://localhost:8080/ServiceControlDRT/attachments/images/ImagesRpcLit.jws"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
