system-controls/test/webservice/webapp/wsdl/schematypes/ImagesDocLitWrapped.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://images.attachments" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://images.attachments" xmlns:intf="http://images.attachments" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.3
Built on Oct 05, 2005 (05:23:37 EDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://images.attachments" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://xml.apache.org/xml-soap"/>
   <element name="getJpgImage">
    <complexType/>
   </element>
   <element name="getJpgImageResponse">
    <complexType>
     <sequence>
      <element name="return" type="apachesoap:Image"/>
     </sequence>
    </complexType>
   </element>
   <element name="getGifImage">
    <complexType/>
   </element>
   <element name="getGifImageResponse">
    <complexType>
     <sequence>
      <element name="return" type="apachesoap:Image"/>
     </sequence>
    </complexType>
   </element>
   <element name="getImages">
    <complexType/>
   </element>
   <element name="getImagesResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="return" type="apachesoap:Image"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getImagesResponse">

      <wsdl:part element="impl:getImagesResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getGifImageResponse">

      <wsdl:part element="impl:getGifImageResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getJpgImageResponse">

      <wsdl:part element="impl:getJpgImageResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getGifImageRequest">

      <wsdl:part element="impl:getGifImage" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getJpgImageRequest">

      <wsdl:part element="impl:getJpgImage" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getImagesRequest">

      <wsdl:part element="impl:getImages" name="parameters"/>

   </wsdl:message>

   <wsdl:portType name="ImagesDocLitWrapped">

      <wsdl:operation name="getJpgImage">

         <wsdl:input message="impl:getJpgImageRequest" name="getJpgImageRequest"/>

         <wsdl:output message="impl:getJpgImageResponse" name="getJpgImageResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getGifImage">

         <wsdl:input message="impl:getGifImageRequest" name="getGifImageRequest"/>

         <wsdl:output message="impl:getGifImageResponse" name="getGifImageResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getImages">

         <wsdl:input message="impl:getImagesRequest" name="getImagesRequest"/>

         <wsdl:output message="impl:getImagesResponse" name="getImagesResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ImagesDocLitWrappedSoapBinding" type="impl:ImagesDocLitWrapped">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getJpgImage">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getJpgImageRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getJpgImageResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getGifImage">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getGifImageRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getGifImageResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getImages">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getImagesRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getImagesResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ImagesDocLitWrappedService">

      <wsdl:port binding="impl:ImagesDocLitWrappedSoapBinding" name="ImagesDocLitWrapped">

         <wsdlsoap:address location="http://localhost:8080/ServiceControlDRT/attachments/images/ImagesDocLitWrapped.jws"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
