system-controls/test/webservice/webapp/wsdl/schematypes/MimeMultipartDocLitWrapped.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://mimemultipart.attachments" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://mimemultipart.attachments" xmlns:intf="http://mimemultipart.attachments" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.3
Built on Oct 05, 2005 (05:23:37 EDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://mimemultipart.attachments" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://xml.apache.org/xml-soap"/>
   <element name="echoPlainText">
    <complexType>
     <sequence>
      <element name="pt" type="apachesoap:Multipart"/>
     </sequence>
    </complexType>
   </element>
   <element name="echoPlainTextResponse">
    <complexType>
     <sequence>
      <element name="return" type="apachesoap:Multipart"/>
     </sequence>
    </complexType>
   </element>
   <element name="echoXmlText">
    <complexType>
     <sequence>
      <element name="pt" type="apachesoap:Multipart"/>
     </sequence>
    </complexType>
   </element>
   <element name="echoXmlTextResponse">
    <complexType>
     <sequence>
      <element name="return" type="apachesoap:Multipart"/>
     </sequence>
    </complexType>
   </element>
   <element name="getImages">
    <complexType/>
   </element>
   <element name="getImagesResponse">
    <complexType>
     <sequence>
      <element name="return" type="apachesoap:Multipart"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getImagesRequest">

      <wsdl:part element="impl:getImages" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getImagesResponse">

      <wsdl:part element="impl:getImagesResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="echoXmlTextResponse">

      <wsdl:part element="impl:echoXmlTextResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="echoPlainTextRequest">

      <wsdl:part element="impl:echoPlainText" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="echoPlainTextResponse">

      <wsdl:part element="impl:echoPlainTextResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="echoXmlTextRequest">

      <wsdl:part element="impl:echoXmlText" name="parameters"/>

   </wsdl:message>

   <wsdl:portType name="MimeMultipartDocLitWrapped">

      <wsdl:operation name="echoPlainText">

         <wsdl:input message="impl:echoPlainTextRequest" name="echoPlainTextRequest"/>

         <wsdl:output message="impl:echoPlainTextResponse" name="echoPlainTextResponse"/>

      </wsdl:operation>

      <wsdl:operation name="echoXmlText">

         <wsdl:input message="impl:echoXmlTextRequest" name="echoXmlTextRequest"/>

         <wsdl:output message="impl:echoXmlTextResponse" name="echoXmlTextResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getImages">

         <wsdl:input message="impl:getImagesRequest" name="getImagesRequest"/>

         <wsdl:output message="impl:getImagesResponse" name="getImagesResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="MimeMultipartDocLitWrappedSoapBinding" type="impl:MimeMultipartDocLitWrapped">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="echoPlainText">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="echoPlainTextRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="echoPlainTextResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="echoXmlText">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="echoXmlTextRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="echoXmlTextResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getImages">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getImagesRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getImagesResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="MimeMultipartDocLitWrappedService">

      <wsdl:port binding="impl:MimeMultipartDocLitWrappedSoapBinding" name="MimeMultipartDocLitWrapped">

         <wsdlsoap:address location="http://localhost:8080/ServiceControlDRT/attachments/mimemultipart/MimeMultipartDocLitWrapped.jws"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
