system-controls/test/webservice/webapp/wsdl/schematypes/SoapMarshallingRpcEncArrayTypes.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://soapMarshallingRcpEncArray" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://soapMarshallingRcpEncArray" xmlns:intf="http://soapMarshallingRcpEncArray" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.3
Built on Oct 05, 2005 (05:23:37 EDT)-->
 <wsdl:types>
  <schema targetNamespace="http://soapMarshallingRcpEncArray" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="ArrayOf_xsd_boolean">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:boolean[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="ArrayOf_soapenc_boolean">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="soapenc:boolean[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="ArrayOf_soapenc_byte">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="soapenc:byte[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="ArrayOf_xsd_short">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:short[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="ArrayOf_soapenc_short">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="soapenc:short[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="ArrayOf_xsd_int">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:int[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="ArrayOf_soapenc_int">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="soapenc:int[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="ArrayOf_xsd_long">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:long[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="ArrayOf_soapenc_long">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="soapenc:long[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="ArrayOf_soapenc_integer">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="soapenc:integer[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="ArrayOf_xsd_float">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:float[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="ArrayOf_soapenc_float">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="soapenc:float[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="ArrayOf_xsd_double">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:double[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="ArrayOf_soapenc_double">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="soapenc:double[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="ArrayOf_soapenc_decimal">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="soapenc:decimal[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="ArrayOf_soapenc_string">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="soapenc:string[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="ArrayOf_xsd_dateTime">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:dateTime[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="ArrayOf_xsd_QName">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:QName[]"/>
     </restriction>
    </complexContent>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="echoQNameRequest">

      <wsdl:part name="inputQName" type="impl:ArrayOf_xsd_QName"/>

   </wsdl:message>

   <wsdl:message name="echoBooleanResponse">

      <wsdl:part name="return" type="impl:ArrayOf_soapenc_boolean"/>

   </wsdl:message>

   <wsdl:message name="echointRequest">

      <wsdl:part name="inputint" type="impl:ArrayOf_xsd_int"/>

   </wsdl:message>

   <wsdl:message name="echoStringRequest">

      <wsdl:part name="inputString" type="impl:ArrayOf_soapenc_string"/>

   </wsdl:message>

   <wsdl:message name="echoShortRequest">

      <wsdl:part name="inputShort" type="impl:ArrayOf_soapenc_short"/>

   </wsdl:message>

   <wsdl:message name="echoIntegerResponse">

      <wsdl:part name="return" type="impl:ArrayOf_soapenc_int"/>

   </wsdl:message>

   <wsdl:message name="echoByteResponse">

      <wsdl:part name="return" type="impl:ArrayOf_soapenc_byte"/>

   </wsdl:message>

   <wsdl:message name="echolongRequest">

      <wsdl:part name="inputlong" type="impl:ArrayOf_xsd_long"/>

   </wsdl:message>

   <wsdl:message name="echoLongResponse">

      <wsdl:part name="return" type="impl:ArrayOf_soapenc_long"/>

   </wsdl:message>

   <wsdl:message name="echoFloatResponse">

      <wsdl:part name="return" type="impl:ArrayOf_soapenc_float"/>

   </wsdl:message>

   <wsdl:message name="echoBigIntegerResponse">

      <wsdl:part name="return" type="impl:ArrayOf_soapenc_integer"/>

   </wsdl:message>

   <wsdl:message name="echoLongRequest">

      <wsdl:part name="inputLong" type="impl:ArrayOf_soapenc_long"/>

   </wsdl:message>

   <wsdl:message name="echoCalendarRequest">

      <wsdl:part name="inputCalendar" type="impl:ArrayOf_xsd_dateTime"/>

   </wsdl:message>

   <wsdl:message name="echoDateResponse">

      <wsdl:part name="return" type="impl:ArrayOf_xsd_dateTime"/>

   </wsdl:message>

   <wsdl:message name="echoIntegerRequest">

      <wsdl:part name="inputInteger" type="impl:ArrayOf_soapenc_int"/>

   </wsdl:message>

   <wsdl:message name="echoDateRequest">

      <wsdl:part name="inputDate" type="impl:ArrayOf_xsd_dateTime"/>

   </wsdl:message>

   <wsdl:message name="echoBigIntegerRequest">

      <wsdl:part name="inputBigInteger" type="impl:ArrayOf_soapenc_integer"/>

   </wsdl:message>

   <wsdl:message name="echoshortResponse">

      <wsdl:part name="return" type="impl:ArrayOf_xsd_short"/>

   </wsdl:message>

   <wsdl:message name="echoQNameResponse">

      <wsdl:part name="return" type="impl:ArrayOf_xsd_QName"/>

   </wsdl:message>

   <wsdl:message name="echolongResponse">

      <wsdl:part name="return" type="impl:ArrayOf_xsd_long"/>

   </wsdl:message>

   <wsdl:message name="echodoubleResponse">

      <wsdl:part name="return" type="impl:ArrayOf_xsd_double"/>

   </wsdl:message>

   <wsdl:message name="echointResponse">

      <wsdl:part name="return" type="impl:ArrayOf_xsd_int"/>

   </wsdl:message>

   <wsdl:message name="echoShortResponse">

      <wsdl:part name="return" type="impl:ArrayOf_soapenc_short"/>

   </wsdl:message>

   <wsdl:message name="echoCalendarResponse">

      <wsdl:part name="return" type="impl:ArrayOf_xsd_dateTime"/>

   </wsdl:message>

   <wsdl:message name="echoBigDecimalRequest">

      <wsdl:part name="inputBigDecimal" type="impl:ArrayOf_soapenc_decimal"/>

   </wsdl:message>

   <wsdl:message name="echoDoubleResponse">

      <wsdl:part name="return" type="impl:ArrayOf_soapenc_double"/>

   </wsdl:message>

   <wsdl:message name="echoBooleanRequest">

      <wsdl:part name="inputBoolean" type="impl:ArrayOf_soapenc_boolean"/>

   </wsdl:message>

   <wsdl:message name="echodoubleRequest">

      <wsdl:part name="inputdouble" type="impl:ArrayOf_xsd_double"/>

   </wsdl:message>

   <wsdl:message name="echoshortRequest">

      <wsdl:part name="inputshort" type="impl:ArrayOf_xsd_short"/>

   </wsdl:message>

   <wsdl:message name="echoBigDecimalResponse">

      <wsdl:part name="return" type="impl:ArrayOf_soapenc_decimal"/>

   </wsdl:message>

   <wsdl:message name="echofloatRequest">

      <wsdl:part name="inputfloat" type="impl:ArrayOf_xsd_float"/>

   </wsdl:message>

   <wsdl:message name="echobooleanResponse">

      <wsdl:part name="return" type="impl:ArrayOf_xsd_boolean"/>

   </wsdl:message>

   <wsdl:message name="echoByteRequest">

      <wsdl:part name="inputByte" type="impl:ArrayOf_soapenc_byte"/>

   </wsdl:message>

   <wsdl:message name="echobooleanRequest">

      <wsdl:part name="inputboolean" type="impl:ArrayOf_xsd_boolean"/>

   </wsdl:message>

   <wsdl:message name="echoDoubleRequest">

      <wsdl:part name="inputDouble" type="impl:ArrayOf_soapenc_double"/>

   </wsdl:message>

   <wsdl:message name="echobyteResponse">

      <wsdl:part name="return" type="soapenc:base64Binary"/>

   </wsdl:message>

   <wsdl:message name="echofloatResponse">

      <wsdl:part name="return" type="impl:ArrayOf_xsd_float"/>

   </wsdl:message>

   <wsdl:message name="echobyteRequest">

      <wsdl:part name="inputbyte" type="soapenc:base64Binary"/>

   </wsdl:message>

   <wsdl:message name="echoStringResponse">

      <wsdl:part name="return" type="impl:ArrayOf_soapenc_string"/>

   </wsdl:message>

   <wsdl:message name="echoFloatRequest">

      <wsdl:part name="inputFloat" type="impl:ArrayOf_soapenc_float"/>

   </wsdl:message>

   <wsdl:portType name="SoapMarshallingRpcEncArrayTypes">

      <wsdl:operation name="echoboolean" parameterOrder="inputboolean">

         <wsdl:input message="impl:echobooleanRequest" name="echobooleanRequest"/>

         <wsdl:output message="impl:echobooleanResponse" name="echobooleanResponse"/>

      </wsdl:operation>

      <wsdl:operation name="echoBoolean" parameterOrder="inputBoolean">

         <wsdl:input message="impl:echoBooleanRequest" name="echoBooleanRequest"/>

         <wsdl:output message="impl:echoBooleanResponse" name="echoBooleanResponse"/>

      </wsdl:operation>

      <wsdl:operation name="echobyte" parameterOrder="inputbyte">

         <wsdl:input message="impl:echobyteRequest" name="echobyteRequest"/>

         <wsdl:output message="impl:echobyteResponse" name="echobyteResponse"/>

      </wsdl:operation>

      <wsdl:operation name="echoByte" parameterOrder="inputByte">

         <wsdl:input message="impl:echoByteRequest" name="echoByteRequest"/>

         <wsdl:output message="impl:echoByteResponse" name="echoByteResponse"/>

      </wsdl:operation>

      <wsdl:operation name="echoshort" parameterOrder="inputshort">

         <wsdl:input message="impl:echoshortRequest" name="echoshortRequest"/>

         <wsdl:output message="impl:echoshortResponse" name="echoshortResponse"/>

      </wsdl:operation>

      <wsdl:operation name="echoShort" parameterOrder="inputShort">

         <wsdl:input message="impl:echoShortRequest" name="echoShortRequest"/>

         <wsdl:output message="impl:echoShortResponse" name="echoShortResponse"/>

      </wsdl:operation>

      <wsdl:operation name="echoint" parameterOrder="inputint">

         <wsdl:input message="impl:echointRequest" name="echointRequest"/>

         <wsdl:output message="impl:echointResponse" name="echointResponse"/>

      </wsdl:operation>

      <wsdl:operation name="echoInteger" parameterOrder="inputInteger">

         <wsdl:input message="impl:echoIntegerRequest" name="echoIntegerRequest"/>

         <wsdl:output message="impl:echoIntegerResponse" name="echoIntegerResponse"/>

      </wsdl:operation>

      <wsdl:operation name="echolong" parameterOrder="inputlong">

         <wsdl:input message="impl:echolongRequest" name="echolongRequest"/>

         <wsdl:output message="impl:echolongResponse" name="echolongResponse"/>

      </wsdl:operation>

      <wsdl:operation name="echoLong" parameterOrder="inputLong">

         <wsdl:input message="impl:echoLongRequest" name="echoLongRequest"/>

         <wsdl:output message="impl:echoLongResponse" name="echoLongResponse"/>

      </wsdl:operation>

      <wsdl:operation name="echoBigInteger" parameterOrder="inputBigInteger">

         <wsdl:input message="impl:echoBigIntegerRequest" name="echoBigIntegerRequest"/>

         <wsdl:output message="impl:echoBigIntegerResponse" name="echoBigIntegerResponse"/>

      </wsdl:operation>

      <wsdl:operation name="echofloat" parameterOrder="inputfloat">

         <wsdl:input message="impl:echofloatRequest" name="echofloatRequest"/>

         <wsdl:output message="impl:echofloatResponse" name="echofloatResponse"/>

      </wsdl:operation>

      <wsdl:operation name="echoFloat" parameterOrder="inputFloat">

         <wsdl:input message="impl:echoFloatRequest" name="echoFloatRequest"/>

         <wsdl:output message="impl:echoFloatResponse" name="echoFloatResponse"/>

      </wsdl:operation>

      <wsdl:operation name="echodouble" parameterOrder="inputdouble">

         <wsdl:input message="impl:echodoubleRequest" name="echodoubleRequest"/>

         <wsdl:output message="impl:echodoubleResponse" name="echodoubleResponse"/>

      </wsdl:operation>

      <wsdl:operation name="echoDouble" parameterOrder="inputDouble">

         <wsdl:input message="impl:echoDoubleRequest" name="echoDoubleRequest"/>

         <wsdl:output message="impl:echoDoubleResponse" name="echoDoubleResponse"/>

      </wsdl:operation>

      <wsdl:operation name="echoBigDecimal" parameterOrder="inputBigDecimal">

         <wsdl:input message="impl:echoBigDecimalRequest" name="echoBigDecimalRequest"/>

         <wsdl:output message="impl:echoBigDecimalResponse" name="echoBigDecimalResponse"/>

      </wsdl:operation>

      <wsdl:operation name="echoString" parameterOrder="inputString">

         <wsdl:input message="impl:echoStringRequest" name="echoStringRequest"/>

         <wsdl:output message="impl:echoStringResponse" name="echoStringResponse"/>

      </wsdl:operation>

      <wsdl:operation name="echoDate" parameterOrder="inputDate">

         <wsdl:input message="impl:echoDateRequest" name="echoDateRequest"/>

         <wsdl:output message="impl:echoDateResponse" name="echoDateResponse"/>

      </wsdl:operation>

      <wsdl:operation name="echoCalendar" parameterOrder="inputCalendar">

         <wsdl:input message="impl:echoCalendarRequest" name="echoCalendarRequest"/>

         <wsdl:output message="impl:echoCalendarResponse" name="echoCalendarResponse"/>

      </wsdl:operation>

      <wsdl:operation name="echoQName" parameterOrder="inputQName">

         <wsdl:input message="impl:echoQNameRequest" name="echoQNameRequest"/>

         <wsdl:output message="impl:echoQNameResponse" name="echoQNameResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="SoapMarshallingRpcEncArrayTypesSoapBinding" type="impl:SoapMarshallingRpcEncArrayTypes">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="echoboolean">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="echobooleanRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://soapMarshallingRcpEncArray" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="echobooleanResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://soapMarshallingRcpEncArray" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="echoBoolean">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="echoBooleanRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://soapMarshallingRcpEncArray" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="echoBooleanResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://soapMarshallingRcpEncArray" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="echobyte">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="echobyteRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://soapMarshallingRcpEncArray" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="echobyteResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://soapMarshallingRcpEncArray" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="echoByte">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="echoByteRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://soapMarshallingRcpEncArray" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="echoByteResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://soapMarshallingRcpEncArray" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="echoshort">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="echoshortRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://soapMarshallingRcpEncArray" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="echoshortResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://soapMarshallingRcpEncArray" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="echoShort">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="echoShortRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://soapMarshallingRcpEncArray" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="echoShortResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://soapMarshallingRcpEncArray" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="echoint">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="echointRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://soapMarshallingRcpEncArray" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="echointResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://soapMarshallingRcpEncArray" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="echoInteger">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="echoIntegerRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://soapMarshallingRcpEncArray" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="echoIntegerResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://soapMarshallingRcpEncArray" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="echolong">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="echolongRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://soapMarshallingRcpEncArray" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="echolongResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://soapMarshallingRcpEncArray" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="echoLong">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="echoLongRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://soapMarshallingRcpEncArray" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="echoLongResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://soapMarshallingRcpEncArray" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="echoBigInteger">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="echoBigIntegerRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://soapMarshallingRcpEncArray" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="echoBigIntegerResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://soapMarshallingRcpEncArray" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="echofloat">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="echofloatRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://soapMarshallingRcpEncArray" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="echofloatResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://soapMarshallingRcpEncArray" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="echoFloat">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="echoFloatRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://soapMarshallingRcpEncArray" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="echoFloatResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://soapMarshallingRcpEncArray" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="echodouble">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="echodoubleRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://soapMarshallingRcpEncArray" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="echodoubleResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://soapMarshallingRcpEncArray" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="echoDouble">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="echoDoubleRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://soapMarshallingRcpEncArray" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="echoDoubleResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://soapMarshallingRcpEncArray" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="echoBigDecimal">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="echoBigDecimalRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://soapMarshallingRcpEncArray" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="echoBigDecimalResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://soapMarshallingRcpEncArray" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="echoString">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="echoStringRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://soapMarshallingRcpEncArray" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="echoStringResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://soapMarshallingRcpEncArray" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="echoDate">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="echoDateRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://soapMarshallingRcpEncArray" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="echoDateResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://soapMarshallingRcpEncArray" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="echoCalendar">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="echoCalendarRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://soapMarshallingRcpEncArray" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="echoCalendarResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://soapMarshallingRcpEncArray" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="echoQName">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="echoQNameRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://soapMarshallingRcpEncArray" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="echoQNameResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://soapMarshallingRcpEncArray" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="SoapMarshallingRpcEncArrayTypesService">

      <wsdl:port binding="impl:SoapMarshallingRpcEncArrayTypesSoapBinding" name="SoapMarshallingRpcEncArrayTypes">

         <wsdlsoap:address location="http://localhost:8080/ServiceControlDRT/soapMarshalling/SoapMarshallingRpcEncArrayTypes.jws"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
