system-controls/test/webservice/webapp/wsdl/xmlbeangen/ComplexTypesDocLitWrappedXmlbeangen.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://xmlbeangen.doclitwrapped.complextypes" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://xmlbeangen.doclitwrapped.complextypes" xmlns:intf="http://xmlbeangen.doclitwrapped.complextypes" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.3
Built on Oct 05, 2005 (05:23:37 EDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://xmlbeangen.doclitwrapped.complextypes" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="echoAccount">
    <complexType>
     <sequence>
      <element name="account" type="impl:BankAccount"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="Account">
    <sequence>
     <element name="accountNumber" nillable="true" type="xsd:long"/>
    </sequence>
   </complexType>
   <complexType name="AccountTransaction">
    <sequence>
     <element name="amount" nillable="true" type="xsd:float"/>
     <element name="date" nillable="true" type="xsd:dateTime"/>
     <element name="payee" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="ArrayOfAccountTransaction">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="impl:AccountTransaction"/>
    </sequence>
   </complexType>
   <complexType name="BankAccount">
    <complexContent>
     <extension base="impl:Account">
      <sequence>
       <element name="accountBalance" nillable="true" type="xsd:float"/>
       <element name="accountHolderName" nillable="true" type="xsd:string"/>
       <element name="transactions" nillable="true" type="impl:ArrayOfAccountTransaction"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <element name="echoAccountResponse">
    <complexType>
     <sequence>
      <element name="return" type="impl:BankAccount"/>
     </sequence>
    </complexType>
   </element>
   <element name="throwAccountException">
    <complexType>
     <sequence>
      <element name="value" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="throwAccountExceptionResponse">
    <complexType>
     <sequence>
      <element name="return" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="throwComplexAccountException">
    <complexType/>
   </element>
   <element name="throwComplexAccountExceptionResponse">
    <complexType>
     <sequence>
      <element name="return" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="ComplexAccountException">
    <sequence>
     <element name="msg1" nillable="true" type="xsd:string"/>
     <element name="msg2" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <element name="fault" type="impl:ComplexAccountException"/>
  </schema>
 </wsdl:types>

   <wsdl:message name="echoAccountResponse">

      <wsdl:part element="impl:echoAccountResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="throwComplexAccountExceptionRequest">

      <wsdl:part element="impl:throwComplexAccountException" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="ComplexAccountException">

      <wsdl:part element="impl:fault" name="fault"/>

   </wsdl:message>

   <wsdl:message name="echoAccountRequest">

      <wsdl:part element="impl:echoAccount" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="throwComplexAccountExceptionResponse">

      <wsdl:part element="impl:throwComplexAccountExceptionResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="throwAccountExceptionRequest">

      <wsdl:part element="impl:throwAccountException" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="throwAccountExceptionResponse">

      <wsdl:part element="impl:throwAccountExceptionResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:portType name="ComplexTypesDocLitWrappedXmlbeangen">

      <wsdl:operation name="echoAccount">

         <wsdl:input message="impl:echoAccountRequest" name="echoAccountRequest"/>

         <wsdl:output message="impl:echoAccountResponse" name="echoAccountResponse"/>

      </wsdl:operation>

      <wsdl:operation name="throwAccountException">

         <wsdl:input message="impl:throwAccountExceptionRequest" name="throwAccountExceptionRequest"/>

         <wsdl:output message="impl:throwAccountExceptionResponse" name="throwAccountExceptionResponse"/>

      </wsdl:operation>

      <wsdl:operation name="throwComplexAccountException">

         <wsdl:input message="impl:throwComplexAccountExceptionRequest" name="throwComplexAccountExceptionRequest"/>

         <wsdl:output message="impl:throwComplexAccountExceptionResponse" name="throwComplexAccountExceptionResponse"/>

         <wsdl:fault message="impl:ComplexAccountException" name="ComplexAccountException"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ComplexTypesDocLitWrappedXmlbeangenSoapBinding" type="impl:ComplexTypesDocLitWrappedXmlbeangen">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="echoAccount">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="echoAccountRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="echoAccountResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="throwAccountException">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="throwAccountExceptionRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="throwAccountExceptionResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="throwComplexAccountException">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="throwComplexAccountExceptionRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="throwComplexAccountExceptionResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="ComplexAccountException">

            <wsdlsoap:fault name="ComplexAccountException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ComplexTypesDocLitWrappedXmlbeangenService">

      <wsdl:port binding="impl:ComplexTypesDocLitWrappedXmlbeangenSoapBinding" name="ComplexTypesDocLitWrappedXmlbeangen">

         <wsdlsoap:address location="http://localhost:8080/ServiceControlDRT/complextypes/doclitwrapped/xmlbeangen/ComplexTypesDocLitWrappedXmlbeangen.jws"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
