samples/controls-webservices-blank/schemas/Service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://beehive.apache.org/enhancedaddressbook" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://beehive.apache.org/enhancedaddressbook" xmlns:intf="http://beehive.apache.org/enhancedaddressbook" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.2
Built on May 03, 2005 (02:20:24 EDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://beehive.apache.org/enhancedaddressbook" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="addEntry">
    <complexType>
     <sequence>
      <element name="custom_name" type="xsd:string"/>
      <element name="custom_address" type="impl:Address"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="Phone">
    <sequence>
     <element name="areaCode" nillable="true" type="xsd:int"/>
     <element name="exchange" nillable="true" type="xsd:string"/>
     <element name="number" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="StateType">
    <sequence>
     <element name="state" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="Address">
    <sequence>
     <element name="city" nillable="true" type="xsd:string"/>
     <element name="phoneNumber" nillable="true" type="impl:Phone"/>
     <element name="state" nillable="true" type="impl:StateType"/>
     <element name="streetName" nillable="true" type="xsd:string"/>
     <element name="streetNum" nillable="true" type="xsd:int"/>
     <element name="zip" nillable="true" type="xsd:int"/>
    </sequence>
   </complexType>
   <element name="addEntryResponse">
    <complexType/>
   </element>
   <complexType name="InvalidNameException">
    <sequence/>
   </complexType>
   <element name="fault" type="impl:InvalidNameException"/>
   <complexType name="InvalidAddressException">
    <sequence/>
   </complexType>
   <element name="fault1" type="impl:InvalidAddressException"/>
   <element name="getAddressFromName">
    <complexType>
     <sequence>
      <element name="custom_name" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getAddressFromNameResponse">
    <complexType>
     <sequence>
      <element name="return" type="impl:Address"/>
     </sequence>
    </complexType>
   </element>
   <element name="getAddressFromNames">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="custom_name" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getAddressFromNamesResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="return" type="impl:Address"/>
     </sequence>
    </complexType>
   </element>
   <element name="oneWayWithNoParam">
    <complexType/>
   </element>
   <element name="oneINOUTParamMethod">
    <complexType>
     <sequence>
      <element name="calendar" type="xsd:dateTime"/>
     </sequence>
    </complexType>
   </element>
   <element name="oneINOUTParamMethodResponse">
    <complexType>
     <sequence>
      <element name="return" type="xsd:string"/>
      <element name="calendar" type="xsd:dateTime"/>
     </sequence>
    </complexType>
   </element>
   <element name="simpleNoParamMethod">
    <complexType/>
   </element>
   <element name="simpleNoParamMethodResponse">
    <complexType>
     <sequence>
      <element name="return" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getAddressFromNamesResponse">

      <wsdl:part element="impl:getAddressFromNamesResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="InvalidAddressException">

      <wsdl:part element="impl:fault1" name="fault"/>

   </wsdl:message>

   <wsdl:message name="simpleNoParamMethodResponse">

      <wsdl:part element="impl:simpleNoParamMethodResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getAddressFromNameResponse">

      <wsdl:part element="impl:getAddressFromNameResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="oneWayWithNoParamRequest">

      <wsdl:part element="impl:oneWayWithNoParam" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="simpleNoParamMethodRequest">

      <wsdl:part element="impl:simpleNoParamMethod" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="addEntryResponse">

      <wsdl:part element="impl:addEntryResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getAddressFromNameRequest">

      <wsdl:part element="impl:getAddressFromName" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="addEntryRequest">

      <wsdl:part element="impl:addEntry" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="oneINOUTParamMethodResponse">

      <wsdl:part element="impl:oneINOUTParamMethodResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="oneINOUTParamMethodRequest">

      <wsdl:part element="impl:oneINOUTParamMethod" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="InvalidNameException">

      <wsdl:part element="impl:fault" name="fault"/>

   </wsdl:message>

   <wsdl:message name="getAddressFromNamesRequest">

      <wsdl:part element="impl:getAddressFromNames" name="parameters"/>

   </wsdl:message>

   <wsdl:portType name="Service">

      <wsdl:operation name="addEntry">

         <wsdl:input message="impl:addEntryRequest" name="addEntryRequest"/>

         <wsdl:output message="impl:addEntryResponse" name="addEntryResponse"/>

         <wsdl:fault message="impl:InvalidNameException" name="InvalidNameException"/>

         <wsdl:fault message="impl:InvalidAddressException" name="InvalidAddressException"/>

      </wsdl:operation>

      <wsdl:operation name="getAddressFromName">

         <wsdl:input message="impl:getAddressFromNameRequest" name="getAddressFromNameRequest"/>

         <wsdl:output message="impl:getAddressFromNameResponse" name="getAddressFromNameResponse"/>

         <wsdl:fault message="impl:InvalidNameException" name="InvalidNameException"/>

      </wsdl:operation>

      <wsdl:operation name="getAddressFromNames">

         <wsdl:input message="impl:getAddressFromNamesRequest" name="getAddressFromNamesRequest"/>

         <wsdl:output message="impl:getAddressFromNamesResponse" name="getAddressFromNamesResponse"/>

         <wsdl:fault message="impl:InvalidNameException" name="InvalidNameException"/>

      </wsdl:operation>

      <wsdl:operation name="oneWayWithNoParam">

         <wsdl:input message="impl:oneWayWithNoParamRequest" name="oneWayWithNoParamRequest"/>

      </wsdl:operation>

      <wsdl:operation name="oneINOUTParamMethod">

         <wsdl:input message="impl:oneINOUTParamMethodRequest" name="oneINOUTParamMethodRequest"/>

         <wsdl:output message="impl:oneINOUTParamMethodResponse" name="oneINOUTParamMethodResponse"/>

      </wsdl:operation>

      <wsdl:operation name="simpleNoParamMethod">

         <wsdl:input message="impl:simpleNoParamMethodRequest" name="simpleNoParamMethodRequest"/>

         <wsdl:output message="impl:simpleNoParamMethodResponse" name="simpleNoParamMethodResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ServiceSoapBinding" type="impl:Service">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="addEntry">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addEntryRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addEntryResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="InvalidNameException">

            <wsdlsoap:fault name="InvalidNameException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="InvalidAddressException">

            <wsdlsoap:fault name="InvalidAddressException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getAddressFromName">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAddressFromNameRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getAddressFromNameResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="InvalidNameException">

            <wsdlsoap:fault name="InvalidNameException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getAddressFromNames">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAddressFromNamesRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getAddressFromNamesResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="InvalidNameException">

            <wsdlsoap:fault name="InvalidNameException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="oneWayWithNoParam">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="oneWayWithNoParamRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

      </wsdl:operation>

      <wsdl:operation name="oneINOUTParamMethod">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="oneINOUTParamMethodRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="oneINOUTParamMethodResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="simpleNoParamMethod">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="simpleNoParamMethodRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="simpleNoParamMethodResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="EnhancedAddressBook">

      <wsdl:port binding="impl:ServiceSoapBinding" name="Service">

         <wsdlsoap:address location="http://localhost:8080/EnhancedAddressBook/web/Service.jws"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
