system-controls/test/webservice/junit/wsdl/DocumentLiteralBareSample.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://complex.web.doclitbar" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://complex.web.doclitbar" xmlns:intf="http://complex.web.doclitbar" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.2
Built on May 03, 2005 (02:20:24 EDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://complex.web.doclitbar" xmlns="http://www.w3.org/2001/XMLSchema">
   <complexType name="Phone">
    <sequence>
     <element name="areaCode" nillable="true" type="xsd:int"/>
     <element name="exchange" nillable="true" type="xsd:string"/>
     <element name="number" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="StateType">
    <sequence>
     <element name="state" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="Address">
    <sequence>
     <element name="city" nillable="true" type="xsd:string"/>
     <element name="phoneNumber" nillable="true" type="impl:Phone"/>
     <element name="state" nillable="true" type="impl:StateType"/>
     <element name="streetName" nillable="true" type="xsd:string"/>
     <element name="streetNum" nillable="true" type="xsd:int"/>
     <element name="zip" nillable="true" type="xsd:int"/>
    </sequence>
   </complexType>
   <element name="in_param_body" type="impl:Address"/>
   <element name="ReturnAddressFromBodyResult" type="impl:Address"/>
   <element name="in_param_header" type="impl:Address"/>
   <element name="ReturnAddressFromHeaderResult" type="impl:Address"/>
   <element name="ReturnCreateAddressInBodyResult" type="xsd:int"/>
   <element name="out_param_body" type="impl:Address"/>
   <element name="out_param_header" type="impl:Address"/>
   <element name="ReturnCreateAddressInHeaderResult" type="xsd:int"/>
   <element name="inout_param_body" type="impl:Address"/>
   <element name="ChangeAddressInBodyResult" type="xsd:int"/>
   <element name="inout_param_body1" type="impl:Address"/>
   <element name="inout_param_header" type="impl:Address"/>
   <element name="inout_param_header1" type="impl:Address"/>
   <element name="ChangeAddressInHeaderResult" type="xsd:int"/>
   <element name="in_param" type="xsd:int"/>
   <element name="ThrowAddressExceptionResult" type="xsd:int"/>
   <complexType name="AddressException">
    <sequence/>
   </complexType>
   <element name="fault" type="impl:AddressException"/>
  </schema>
 </wsdl:types>

   <wsdl:message name="returnAddressFromBodyResponse">

      <wsdl:part element="impl:ReturnAddressFromBodyResult" name="ReturnAddressFromBodyResult"/>

   </wsdl:message>

   <wsdl:message name="returnAddressFromBodyRequest">

      <wsdl:part element="impl:in_param_body" name="in_param_body"/>

   </wsdl:message>

   <wsdl:message name="returnAddressFromHeaderRequest">

      <wsdl:part element="impl:in_param_header" name="in_param_header"/>

   </wsdl:message>

   <wsdl:message name="createAddressInHeaderRequest">

   </wsdl:message>

   <wsdl:message name="changeAddressInBodyRequest">

      <wsdl:part element="impl:inout_param_body" name="inout_param_body"/>

   </wsdl:message>

   <wsdl:message name="returnAddressFromHeaderResponse">

      <wsdl:part element="impl:ReturnAddressFromHeaderResult" name="ReturnAddressFromHeaderResult"/>

   </wsdl:message>

   <wsdl:message name="changeAddressInBodyResponse">

      <wsdl:part element="impl:ChangeAddressInBodyResult" name="ChangeAddressInBodyResult"/>

      <wsdl:part element="impl:inout_param_body1" name="inout_param_body"/>

   </wsdl:message>

   <wsdl:message name="throwAddressExceptionResponse">

      <wsdl:part element="impl:ThrowAddressExceptionResult" name="ThrowAddressExceptionResult"/>

   </wsdl:message>

   <wsdl:message name="AddressException">

      <wsdl:part element="impl:fault" name="fault"/>

   </wsdl:message>

   <wsdl:message name="createAddressInBodyRequest">

   </wsdl:message>

   <wsdl:message name="changeAddressInHeaderRequest">

      <wsdl:part element="impl:inout_param_header" name="inout_param_header"/>

   </wsdl:message>

   <wsdl:message name="throwAddressExceptionRequest">

      <wsdl:part element="impl:in_param" name="in_param"/>

   </wsdl:message>

   <wsdl:message name="createAddressInHeaderResponse">

      <wsdl:part element="impl:out_param_header" name="out_param_header"/>

      <wsdl:part element="impl:ReturnCreateAddressInHeaderResult" name="ReturnCreateAddressInHeaderResult"/>

   </wsdl:message>

   <wsdl:message name="createAddressInBodyResponse">

      <wsdl:part element="impl:ReturnCreateAddressInBodyResult" name="ReturnCreateAddressInBodyResult"/>

      <wsdl:part element="impl:out_param_body" name="out_param_body"/>

   </wsdl:message>

   <wsdl:message name="changeAddressInHeaderResponse">

      <wsdl:part element="impl:inout_param_header1" name="inout_param_header"/>

      <wsdl:part element="impl:ChangeAddressInHeaderResult" name="ChangeAddressInHeaderResult"/>

   </wsdl:message>

   <wsdl:portType name="DocumentLiteralBareSample">

      <wsdl:operation name="returnAddressFromBody" parameterOrder="in_param_body">

         <wsdl:input message="impl:returnAddressFromBodyRequest" name="returnAddressFromBodyRequest"/>

         <wsdl:output message="impl:returnAddressFromBodyResponse" name="returnAddressFromBodyResponse"/>

      </wsdl:operation>

      <wsdl:operation name="returnAddressFromHeader" parameterOrder="in_param_header">

         <wsdl:input message="impl:returnAddressFromHeaderRequest" name="returnAddressFromHeaderRequest"/>

         <wsdl:output message="impl:returnAddressFromHeaderResponse" name="returnAddressFromHeaderResponse"/>

      </wsdl:operation>

      <wsdl:operation name="createAddressInBody" parameterOrder="out_param_body">

         <wsdl:input message="impl:createAddressInBodyRequest" name="createAddressInBodyRequest"/>

         <wsdl:output message="impl:createAddressInBodyResponse" name="createAddressInBodyResponse"/>

      </wsdl:operation>

      <wsdl:operation name="createAddressInHeader" parameterOrder="out_param_header">

         <wsdl:input message="impl:createAddressInHeaderRequest" name="createAddressInHeaderRequest"/>

         <wsdl:output message="impl:createAddressInHeaderResponse" name="createAddressInHeaderResponse"/>

      </wsdl:operation>

      <wsdl:operation name="changeAddressInBody" parameterOrder="inout_param_body">

         <wsdl:input message="impl:changeAddressInBodyRequest" name="changeAddressInBodyRequest"/>

         <wsdl:output message="impl:changeAddressInBodyResponse" name="changeAddressInBodyResponse"/>

      </wsdl:operation>

      <wsdl:operation name="changeAddressInHeader" parameterOrder="inout_param_header">

         <wsdl:input message="impl:changeAddressInHeaderRequest" name="changeAddressInHeaderRequest"/>

         <wsdl:output message="impl:changeAddressInHeaderResponse" name="changeAddressInHeaderResponse"/>

      </wsdl:operation>

      <wsdl:operation name="throwAddressException" parameterOrder="in_param">

         <wsdl:input message="impl:throwAddressExceptionRequest" name="throwAddressExceptionRequest"/>

         <wsdl:output message="impl:throwAddressExceptionResponse" name="throwAddressExceptionResponse"/>

         <wsdl:fault message="impl:AddressException" name="AddressException"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="DocumentLiteralBareSampleSoapBinding" type="impl:DocumentLiteralBareSample">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="returnAddressFromBody">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="returnAddressFromBodyRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="returnAddressFromBodyResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="returnAddressFromHeader">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="returnAddressFromHeaderRequest">

            <wsdlsoap:body parts="" use="literal"/>

            <wsdlsoap:header message="impl:returnAddressFromHeaderRequest" namespace="http://complex.web.doclitbar" part="in_param_header" use="literal">

            </wsdlsoap:header>

         </wsdl:input>

         <wsdl:output name="returnAddressFromHeaderResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="createAddressInBody">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="createAddressInBodyRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="createAddressInBodyResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="createAddressInHeader">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="createAddressInHeaderRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="createAddressInHeaderResponse">

            <wsdlsoap:body parts="ReturnCreateAddressInHeaderResult" use="literal"/>

            <wsdlsoap:header message="impl:createAddressInHeaderResponse" namespace="http://complex.web.doclitbar" part="out_param_header" use="literal">

            </wsdlsoap:header>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="changeAddressInBody">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="changeAddressInBodyRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="changeAddressInBodyResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="changeAddressInHeader">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="changeAddressInHeaderRequest">

            <wsdlsoap:body parts="" use="literal"/>

            <wsdlsoap:header message="impl:changeAddressInHeaderRequest" namespace="http://complex.web.doclitbar" part="inout_param_header" use="literal">

            </wsdlsoap:header>

         </wsdl:input>

         <wsdl:output name="changeAddressInHeaderResponse">

            <wsdlsoap:body parts="ChangeAddressInHeaderResult" use="literal"/>

            <wsdlsoap:header message="impl:changeAddressInHeaderResponse" namespace="http://complex.web.doclitbar" part="inout_param_header" use="literal">

            </wsdlsoap:header>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="throwAddressException">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="throwAddressExceptionRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="throwAddressExceptionResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="AddressException">

            <wsdlsoap:fault name="AddressException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="DocumentLiteralBareSampleService">

      <wsdl:port binding="impl:DocumentLiteralBareSampleSoapBinding" name="DocumentLiteralBareSample">

         <wsdlsoap:address location="http://localhost:8080/wsm-samplesWS/web/complex/DocumentLiteralBareSample.jws"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
