system-controls/test/webservice/webapp/wsdl/axisgen/ComplexTypesRpcEncAxisgen.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://axisgen.rpcenc.complextypes" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://axisgen.rpcenc.complextypes" xmlns:intf="http://axisgen.rpcenc.complextypes" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.3
Built on Oct 05, 2005 (05:23:37 EDT)-->
 <wsdl:types>
  <schema targetNamespace="http://axisgen.rpcenc.complextypes" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="Account">
    <sequence>
     <element name="accountNumber" nillable="true" type="xsd:long"/>
    </sequence>
   </complexType>
   <complexType name="AccountTransaction">
    <sequence>
     <element name="amount" nillable="true" type="xsd:float"/>
     <element name="date" nillable="true" type="xsd:dateTime"/>
     <element name="payee" nillable="true" type="soapenc:string"/>
    </sequence>
   </complexType>
   <complexType name="ArrayOfAccountTransaction">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="impl:AccountTransaction[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="BankAccount">
    <complexContent>
     <extension base="impl:Account">
      <sequence>
       <element name="accountBalance" nillable="true" type="xsd:float"/>
       <element name="accountHolderName" nillable="true" type="soapenc:string"/>
       <element name="transactions" nillable="true" type="impl:ArrayOfAccountTransaction"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="ComplexAccountException">
    <sequence>
     <element name="msg1" nillable="true" type="soapenc:string"/>
     <element name="msg2" nillable="true" type="soapenc:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="throwAccountExceptionRequest">

      <wsdl:part name="value" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="throwComplexAccountExceptionResponse">

      <wsdl:part name="return" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="throwAccountExceptionResponse">

      <wsdl:part name="return" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="ComplexAccountException">

      <wsdl:part name="fault" type="impl:ComplexAccountException"/>

   </wsdl:message>

   <wsdl:message name="echoAccountResponse">

      <wsdl:part name="return" type="impl:BankAccount"/>

   </wsdl:message>

   <wsdl:message name="echoAccountRequest">

      <wsdl:part name="account" type="impl:BankAccount"/>

   </wsdl:message>

   <wsdl:message name="throwComplexAccountExceptionRequest">

   </wsdl:message>

   <wsdl:portType name="ComplexTypesRpcEncAxisgen">

      <wsdl:operation name="echoAccount" parameterOrder="account">

         <wsdl:input message="impl:echoAccountRequest" name="echoAccountRequest"/>

         <wsdl:output message="impl:echoAccountResponse" name="echoAccountResponse"/>

      </wsdl:operation>

      <wsdl:operation name="throwAccountException" parameterOrder="value">

         <wsdl:input message="impl:throwAccountExceptionRequest" name="throwAccountExceptionRequest"/>

         <wsdl:output message="impl:throwAccountExceptionResponse" name="throwAccountExceptionResponse"/>

      </wsdl:operation>

      <wsdl:operation name="throwComplexAccountException">

         <wsdl:input message="impl:throwComplexAccountExceptionRequest" name="throwComplexAccountExceptionRequest"/>

         <wsdl:output message="impl:throwComplexAccountExceptionResponse" name="throwComplexAccountExceptionResponse"/>

         <wsdl:fault message="impl:ComplexAccountException" name="ComplexAccountException"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ComplexTypesRpcEncAxisgenSoapBinding" type="impl:ComplexTypesRpcEncAxisgen">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="echoAccount">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="echoAccountRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://axisgen.rpcenc.complextypes" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="echoAccountResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://axisgen.rpcenc.complextypes" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="throwAccountException">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="throwAccountExceptionRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://axisgen.rpcenc.complextypes" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="throwAccountExceptionResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://axisgen.rpcenc.complextypes" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="throwComplexAccountException">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="throwComplexAccountExceptionRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://axisgen.rpcenc.complextypes" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="throwComplexAccountExceptionResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://axisgen.rpcenc.complextypes" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="ComplexAccountException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ComplexAccountException" namespace="http://axisgen.rpcenc.complextypes" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ComplexTypesRpcEncAxisgenService">

      <wsdl:port binding="impl:ComplexTypesRpcEncAxisgenSoapBinding" name="ComplexTypesRpcEncAxisgen">

         <wsdlsoap:address location="http://localhost:8080/ServiceControlDRT/complextypes/rpcenc/axisgen/ComplexTypesRpcEncAxisgen.jws"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
