system-controls/test/webservice/webapp/wsdl/axisgen/HeaderObjectRpcEncEndpoint.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://header" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://header" xmlns:intf="http://header" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.3
Built on Oct 05, 2005 (05:23:37 EDT)-->
 <wsdl:types>
  <schema targetNamespace="http://header" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="HeaderAddressAxisgen">
    <sequence>
     <element name="city" nillable="true" type="soapenc:string"/>
     <element name="state" nillable="true" type="soapenc:string"/>
     <element name="street" nillable="true" type="soapenc:string"/>
     <element name="zip" nillable="true" type="xsd:int"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="echoObjectRequest">

      <wsdl:part name="address" type="impl:HeaderAddressAxisgen"/>

      <wsdl:part name="addr" type="impl:HeaderAddressAxisgen"/>

   </wsdl:message>

   <wsdl:message name="echoObjectResponse">

      <wsdl:part name="address" type="impl:HeaderAddressAxisgen"/>

      <wsdl:part name="return" type="impl:HeaderAddressAxisgen"/>

   </wsdl:message>

   <wsdl:portType name="HeaderObjectRpcEncEndpoint">

      <wsdl:operation name="echoObject" parameterOrder="address addr">

         <wsdl:input message="impl:echoObjectRequest" name="echoObjectRequest"/>

         <wsdl:output message="impl:echoObjectResponse" name="echoObjectResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="HeaderObjectRpcEncEndpointSoapBinding" type="impl:HeaderObjectRpcEncEndpoint">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="echoObject">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="echoObjectRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://header" parts="addr" use="encoded"/>

            <wsdlsoap:header encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" message="impl:echoObjectRequest" namespace="http://header" part="address" use="encoded">

            </wsdlsoap:header>

         </wsdl:input>

         <wsdl:output name="echoObjectResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://header" parts="return" use="encoded"/>

            <wsdlsoap:header encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" message="impl:echoObjectResponse" namespace="http://header" part="address" use="encoded">

            </wsdlsoap:header>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="HeaderObjectRpcEncEndpointService">

      <wsdl:port binding="impl:HeaderObjectRpcEncEndpointSoapBinding" name="HeaderObjectRpcEncEndpoint">

         <wsdlsoap:address location="http://localhost:8080/ServiceControlDRT/header/HeaderObjectRpcEncEndpoint.jws"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
