system-controls/test/webservice/webapp/wsdl/pojotypes/HeaderObjectDocLitEndpoint.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://header" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://header" xmlns:intf="http://header" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.3
Built on Oct 05, 2005 (05:23:37 EDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://header" xmlns="http://www.w3.org/2001/XMLSchema">
   <complexType name="HeaderAddress">
    <sequence>
     <element name="value" nillable="true" type="impl:HeaderAddress"/>
    </sequence>
   </complexType>
   <element name="address" type="impl:HeaderAddress"/>
   <element name="echoObject">
    <complexType>
     <sequence>
      <element name="haddr" type="impl:HeaderAddress"/>
     </sequence>
    </complexType>
   </element>
   <element name="address1" type="impl:HeaderAddress"/>
   <element name="echoObjectResponse">
    <complexType>
     <sequence>
      <element name="return" type="impl:HeaderAddress"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="echoObjectRequest">

      <wsdl:part element="impl:address" name="address"/>

      <wsdl:part element="impl:echoObject" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="echoObjectResponse">

      <wsdl:part element="impl:address1" name="address"/>

      <wsdl:part element="impl:echoObjectResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:portType name="HeaderObjectDocLitEndpoint">

      <wsdl:operation name="echoObject">

         <wsdl:input message="impl:echoObjectRequest" name="echoObjectRequest"/>

         <wsdl:output message="impl:echoObjectResponse" name="echoObjectResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="HeaderObjectDocLitEndpointSoapBinding" type="impl:HeaderObjectDocLitEndpoint">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="echoObject">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="echoObjectRequest">

            <wsdlsoap:body parts="parameters" use="literal"/>

            <wsdlsoap:header message="impl:echoObjectRequest" namespace="http://header" part="address" use="literal">

            </wsdlsoap:header>

         </wsdl:input>

         <wsdl:output name="echoObjectResponse">

            <wsdlsoap:body parts="parameters" use="literal"/>

            <wsdlsoap:header message="impl:echoObjectResponse" namespace="http://header" part="address" use="literal">

            </wsdlsoap:header>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="HeaderObjectDocLitEndpointService">

      <wsdl:port binding="impl:HeaderObjectDocLitEndpointSoapBinding" name="HeaderObjectDocLitEndpoint">

         <wsdlsoap:address location="http://localhost:8080/ServiceControlDRT/header/HeaderObjectDocLitEndpoint.jws"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
