system-controls/test/jdbc/controls/schemas/badusers/badusers.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://test_bad/customer_db"
           targetNamespace="http://test_bad/customer_db"
           elementFormDefault="qualified">

    <xs:element name="XCustomerRowBad">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="FANME" type="xs:string" minOccurs="1" nillable="true"/>
                <xs:element name="USERID" type="xs:int" minOccurs="1" nillable="true"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
